<!-- Include head and header partial ejs templates-->

<%- include('../partials/head'); %>

<!-- Page container - include forms, components etc within container-->

    <section class="vh-100 bg-image" style="background-image: url('/img/GoodTimez.png');  background-size: 100% 100%;">

        <div class="px-4 py-5 text-center user">
            
            <h1 class="display-5 fw-bold">All The Feelz</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">Quickly record a measure of your current feelings, and note what might be driving them. Gain insights over time. </p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                 <a href="/userregistration" class="btn btn-warning btn-lg px-4 gap-3"role="button">Register Now</a>
              </div>
            </div>
          </div>
       
    </section>



  <!-- Include footer partial ejs templates-->

  <%- include('../partials/footer'); %>